![](https://media.giphy.com/media/l0HluULNylbTu44Ao/giphy.gif)
## Introduction

In this project, we carry out exploratory analysis of the Divvy dataset by setting out research questions, and then exploring relationship between stations, user behaviors, user types, and bike types to answer those questions.

*The project was completed as a part of Google's Data Analytics Professional Certificate online course on Coursera.*

## Setup
**Import packages**

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

---
## The Data

This dataset contains biketrip data in Chicago from year 2020-2021. The data is provided by [Divvy bikes](https://divvybikes.com) according to the [Divvy Data License Agreement](https://ride.divvybikes.com/data-license-agreement).

Each trip is anonymized and includes:
- Trip start day and time
- Trip end day and time
- Trip start station
- Trip end station
- Rider type (Member, Single Ride, and Day Pass)
- Rideable type (Casual, Docked, Electric)

The data has been processed to remove trips that are taken by staff as they service and inspect the system; and any trips that were below 60 seconds in length (potentially false starts or users trying to re-dock a bike to ensure it was secure).

The dataset is wrangled by [Chris](github.com/ca-ros). To know more about data wrangling documentation, visit this [link](https://github.com/ca-ros/divvy-bikeshare/blob/master/docs/data_wrangling.md). This contains stations names with null values and will be filled with data in the future after I have a good grasp in **Machine Learning** and **Web Scraping** by using the stations' coordinates.

> To know more about Divvy and the dataset, visit this [link](https://ride.divvybikes.com/system-data).

---

## Exploratory data analysis
### Research question 1:
### Research question 2:
### Research question 3:

## Overview of data

In [19]:
def overview():
    data = pd.read_csv("trips_p2.csv")
    data.round()
    print("The first 5 rows of data are:\n")
    print(data.head(5))
    print("\n\n\nDataset has {} rows and {} columns".format(data.shape[0], data.shape[1]))
    print("\n\n\nDatatype: \n")
    print(data.dtypes)
    print("\n\n\nThe number of unique values in each column are: \n")
    print(data.nunique())
    print("\n\n\nThe number of null values for each column are: \n")
    print(data.isnull().sum())
    print("\n\n\nData summary: \n")
    print(data.describe())
    return data

# Lastly, assigning a variable to overview()
data = overview()

## Note: Uploading this file takes time, took me 5 mins to finish running this block

The first 5 rows of data are:

            ride_id  rideable_type           start_time             end_time  \
0  A7CE7984C8A9240F  electric_bike  2021-11-13 17:39:57  2021-11-13 17:44:59
1  BD2F67E4AD0E9309  electric_bike  2021-11-18 14:22:19  2021-11-18 14:25:07
2  923264CBA14F6F8B  electric_bike  2021-08-06 13:17:42  2021-08-06 13:51:27
3  91D17FA839079834  electric_bike  2021-11-06 19:20:18  2021-11-06 19:39:55
4  EF7210BD5C943390  electric_bike  2021-08-16 20:09:51  2021-08-16 20:57:01

   trip_duration  start_station_id      start_station_name  end_station_id  \
0            302               NaN                     NaN             NaN
1            168               NaN                     NaN             NaN
2           2025              44.0  State St & Randolph St             NaN
3           1177               NaN                     NaN             NaN
4           2830              44.0  State St & Randolph St             NaN

  end_station_name user_type
0              NaN    member
1              NaN    member
2              NaN    member
3              NaN    member
4              NaN    casual



Dataset has 8988891 rows and 10 columns



Datatype:

ride_id                object
rideable_type          object
start_time             object
end_time               object
trip_duration           int64
start_station_id      float64
start_station_name     object
end_station_id        float64
end_station_name       object
user_type              object
dtype: object



The number of unique values in each column are:

### What do we see?
- The dataset has 8,988,891 rows and 13 columns
- We notice null values in station_name column (12.68 % of the data) that will be omitted in analysis
- We need to convert columns start_time and end_time into datetime datatype

#### Change start_time & end_time into datetime

In [ ]:
#Datetime
data[['start_time', 'end_time']] = data[['start_time', 'end_time']].apply(pd.to_datetime, format = '%Y-%m-%d %H:%M:%S')
data.dtypes

ride_id                       object
rideable_type                 object
start_time            datetime64[ns]
end_time              datetime64[ns]
trip_duration                  int64
start_station_id             float64
start_station_name            object
end_station_id               float64
end_station_name              object
user_type                     object
dtype: object

#### The NaNs

In [ ]:
# Removing rows where station names are nulls
data.dropna(subset = ['start_station_name', 'end_station_name'], inplace = True)

In [ ]:
print('The number of nulls in each column\n')
print(data[['start_station_name', 'end_station_name']].isnull().sum())

The number of nulls in each column

start_station_name    0
end_station_name      0
dtype: int64

## Looking into biketrips over the years

In [ ]:
# Indexing start_time
data_i = data.set_index('start_time')

In [ ]:
axes = data_i[[count(ride_id), start_station_name.value_counts()]].plot(figsize=(11, 9), subplots=True, linewidth=1)

## Summary